<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="../static/AmazeUI-2.4.2/assets/css/amazeui.css"/>
    <link href="../static/css/dlstyle.css" rel="stylesheet" type="text/css">
    <script src="../static/js/init.js"></script>
</head>
<body>
<div class="login-boxtitle">
</div>
<div class="login-banner">
    <div class="login-main">
        <div class="login-banner-bg"><span></span><img src="../static/images/register/logobig.png" width="200px"/></div>
        <div class="login-box">
            <h3
                    class="title">登
                &nbsp; 录 &nbsp; 商 &nbsp; 城</h3>
            <div class="clear"></div>

            <div class="login-form">
                <form method="POST">
                    <div class="user-name">
                        <label for="user"><i class="am-icon-user"></i></label>
                        <input type="text" name="username" id="username" placeholder="请输入用户名">
                    </div>
                    <div class="user-pass">
                        <label for="password"><i class="am-icon-lock"></i></label>
                        <input type="password" name="password" id="password" placeholder="请输入密码">
                    </div>
                </form>
            </div>
            <div class="login-links">
                <label for="remember-me"><input id="remember-me" type="checkbox"> 记住密码</label>
                <a href="#" class="am-fr">忘记密码</a>
                <a href="register.html" class="zcnext am-fr am-btn-default"
                   style="background-color: greenyellow; border-radius: 6px;" target="_blank">新用户注册</a>
                <br/>
            </div>
            <div class="am-cf">
                <input type="submit" name="login" value="登 录" class="am-btn am-btn-primary am-btn-sm" id="submit">
            </div>
            <div class="partner">
                <h3>合作账号</h3>
                <div class="am-btn-group">
                    <li><a href="#"><i class="am-icon-qq am-icon-sm"></i><span>QQ登录</span></a></li>
                    <li><a href="#"><i class="am-icon-weibo am-icon-sm"></i><span id="weibo_login">微博登录</span> </a></li>
                    <li><a href="#"><i class="am-icon-weixin am-icon-sm"></i><span>微信登录</span> </a></li>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/jquery-3.1.1.min.js"></script>
<script>
    $('#submit').click(function () {
        var username = $('#username').val();
        var password = $('#password').val();
        var carts_data = JSON.parse(window.localStorage.getItem('cart'));
        var inputData = {'username' :  username,  'password' :  password, 'carts' :  carts_data};
        console.log(inputData)
        if (username != '' && password != '') {
            $.ajax({
                type: 'POST',
                url:  baseUrl + '/v1/tokens',
                contentType: 'application/json',
                data: JSON.stringify(inputData),
                success: function (result) {
                    if (result.code == 200) {
                        // 清空本地存储
                        window.localStorage.clear();
                        window.localStorage.setItem('dashop_token', result.data.token);
                        window.localStorage.setItem('dashop_count', result.carts_count);
                        window.localStorage.setItem('dashop_user', result.username);
                        alert('登录成功');
                        window.location.href = 'index.html';
                    }
                    else{
                        alert(result.error)
					}
                }
            })
        }
    })
    $('#weibo_login').click(function(){
            //异步获取微博登陆地址
            $.ajax({
                type:'GET',
                url:baseUrl+'/v1/users/weibo/authorization',
                success:function(response){
                    if(response.code==200){
                        window.location.href=response.oauth_url
                    }else{
                        alert('服务器异常')
                    }
                }
            })
        })
</script>
</body>
</html>