<!DOCTYPE html>
<html>

<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>绿色农产直销网-全部商品</title>
  <link rel="icon" href="../static/images/index/py.ico">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/products.css">
  <script src="../static/js/init.js"></script>
</head>

<body>
  <div id="top">
    <div id="logo" class="lf">
        <a href="index.html">
            <img class="animated jello" src="../static/images/header/logo.png" alt="logo" />
        </a>
    </div>
    <div id="top_input" class="lf">
        <input id="input" type="text" placeholder="本店内搜索" />
        <a href="#" class="rt" ><img id="search" src="../static/images/header/search.png" alt="搜索" /></a>
    </div>
    <div class="rt">
        <ul class="lf">
            <li><a href="addressAdmin.html" title="我的地址"><img src="../static/images/header/care.svg" alt="" /></a><b>|</b></li>
            <li><a href="myOrder.html" title="我的订单"><img class="order" src="../static/images/header/order.svg" alt="" /></a><b>|</b></li>
            <li><a class="my_cart" href="cart.html" title="我的购物车"><b class="my_cart_count">0</b><img class="shopcar" src="../static/images/header/shop_car.svg" alt="" /></a><b>|</b></li>
            <li><a href="register.html">注册</a><b>|</b></li>
            <li id ='my_login'><a href="login.html" >登录</a></li>
        </ul>
    </div>
</div>
<ul>
  <li style="height: 20px;"></li>
  <li style="text-align: center;"><a href="index.html"><img src="../static/images/index/index_logo.png" alt=""></a></li>
</ul>
  <div class="store_action">
    <div class="store_action_left">
      <div class="store_action_left_content">
        <div id="plist">
          <div class="salc_top">
            <b>全部水果</b> 
          </div>

          <div class="salc_content">
             <div class="product" id="1">
              <a href="product_details.html">
                <img src="../static/images/list/product_1.png" alt="">
              </a>
              <div class="addRemoveProduct">
                <p>
                  <span class="price"></span>
                  <a href="product_details.html" class="title" title="">
                    
                  </a>
                </p>
                <div>
                  <span class="reduc lf">-</span>
                  <input type="text" value="1" class="lf">
                  <span class="add lf">+</span>
                  <div class="addcart">
                    加入购物车
                  </div>
                </div>
              </div>
            </div>
            <!--分页条-->
          </div>
          <div class="pager">
              <a href="javascript:;" class="disabled" id="previous">上一页</a>
            <div id="btnBox" style="display: inline-block;">
              <a href="javascript:;" class="current">1</a>
              <a href="javascript:;" class="tcdNumber">2</a>
              <a href="javascript:;" class="tcdNumber">3</a>
            </div>
            <a href="javascript:;" class="nextPage" id="next">下一页</a>
          </div>
        </div>
      </div>


      <div class="store_action_right rt">
        <div class="store_action_right_top">
          <p><img src="../static/images/list/foodstore_icon2.png" alt="">商家公告</p>
          <div>
            <p><b>本店铺所售特色水果完全来源于乡村，绝对绿色无害，若需团购请联系掌柜！</b> </p>
          </div>
        </div>
          <div class="sarc">
            <div class="total_price lf">
              <img src="../static/images/list/foodstore_car_2.png" alt=""><span>已加入</span><span id="cart_count_1"></span>
            </div>
            <div class="settle lf">
              <a href="cart.html" style="color:#fff;">去支付</a>
            </div>
          </div>
          <img src="../static/images/index/goods_list.png" alt="">
        </div>
      </div>
    </div>
    <!--商家-->
  </div>
  <footer id='footer'>
    <div id="foot_box">
      <div class="icon1 lf">
          <img src="../static/images/footer/icon1.png" alt=""/>
          <h3><b>现摘现发</b></h3>
      </div>
      <div class="icon2 lf">
          <img src="../static/images/footer/icon2.png" alt=""/>
          <h3><b>绿色自然</b></h3>
      </div>
      <div class="icon3 lf">
          <img src="../static/images/footer/icon3.png" alt=""/>
          <h3><b>支持团购</b></h3>
      </div>
      <div class="icon4 lf">
          <img src="../static/images/footer/icon4.png" alt=""/>
          <h3><b>公益扶贫</b></h3>
      </div>
  </div>
  <!-- 页面底部-->
  <div class="foot_bj">
      <div id="foot">
          <div class="lf">
              <p class="footer1"><img src="../static/images/footer/logo.png" alt="" class=" footLogo"/></p>
              <p class="footer2"><img src="../static/images/footer/footerFont.png" alt=""/></p>
          </div>
          <div class="service">
              <p><b>扫码联系掌柜</b></p>
              <img src="../static/images/footer/ios.png" class="lf">
              <img src="../static/images/footer/android.png" alt="" class="lf"/>
          </div>
          <div class="download">
              <img src="../static/images/footer/erweima.png">
          </div>
      <!-- 页面底部-备案号 #footer -->
          <div class="record">
              <b>&copy;2019-2020 绿色农产直销网 版权所有 grit_my</b> 
          </div>
      </div>
  </div>
    </footer>
  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <script src="../static/js/jquery.page.js"></script>
  <script src="../js/base.js"></script>
 <script src='../static/js/index.js'></script>
  <script src="../js/products.js"></script>
  <script type="text/javascript" src="../static/js/personal.js"></script>
  <script>
      var loginName = window.localStorage.dashop_user;
      if (loginName){
          $('#my_login').children().html(loginName).on('click',(e)=>{
              e.preventDefault()
              window.localStorage.removeItem('dashop_user');
              window.localStorage.removeItem('dashop_token');
              window.localStorage.removeItem('dashop_count');
              alert('退出登录')
              window.location.reload()
              $('#my_login').children().html('登录')
          })
      }
  </script>

  <script>
    $('#header').load('header.html');
    $('#footer').load('footer.html');
  </script>

  <script>
    (function ($) {
      $.getUrlParam = function (name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return r;
        return null;
      }

    })(jQuery);

    $(function () {
      var catalog_id = $.getUrlParam('catalog_id')[2]
      window.localStorage.setItem('catalog_id',catalog_id)
      window.localStorage.setItem('canload',true)
      if (window.localStorage.canload){
        $.ajax({
        type: "get",
        url:baseUrl+'/v1/goods/catalogs/'+catalog_id+'?launched=true&page=1',
        success: function (result) {
          if (result.code==200){
            var IMG_URL = result.base_url
            var html = ''
            var pages = Math.ceil(result.paginator.total / result.paginator.pagesize)
            window.localStorage.setItem('pageMax',pages)
            html += '<a href="javascript:;" class="current">1</a>'
            for (var j=2;j<=pages;j++){
              html += '<a href="javascript:;" class="tcdNumber">'+j+'</a>'
            }
            $('#btnBox').html(html);

            var list = ''
            result.data.forEach(el => {
              list += '<div class="product" id="' + el.skuid +
                '"><a href='+"product_details.html?skuid="+el.skuid+'>'
              list += '<img src="' + IMG_URL+el.image + '" alt="' + el.name + '"></a>'
              list += '<div class="addRemoveProduct">'
              list += '<p>'
              list += '<span class="price">￥' + el.price + '</span>'
              list += '<a href='+"product_details.html?skuid="+el.skuid+' class="title" title='+el.name+'>'+el.name+'</a></p></div></div>'
            });
            $('.salc_content').html(list)
            window.localStorage.setItem('canload',false)

          }
        },

        error: function (data) {
          console.log(data)
        }
     })
      }
    });




    class btnList{
      constructor( btnBox , previous , next ){
        /**
         * @this {Element} btnBox   [按钮父元素]
         * @this {Number}  page     [当前页]
         * @this {Array}   btnList  [当前按钮集合]
         * @this {Element} previous [上一页]
         * @this {Element} next     [下一页]
         * @this {Object}  listData [缓存请求数据]
         * @this {Numnber} index    [当前元素于btnList的下标]
         * @this {Boolean} nextFlag [判断下一页是否存在数据]
         */
        this.btnBox = btnBox;
        this.page = 1;
        this.btnList = null;
        this.previous = previous;
        this.next = next;
        this.listData = new Map();
        this.index = 0;
        this.PageMax = window.localStorage.pageMax;
        this.catalog_id = window.localStorage.catalog_id
      }
      init(){
        console.log(this.catalog_id)
        this.btnList = [].slice.call( this.btnBox.children );
        this.register();
      }
      register(){
        /* 注册点击事件 */
        this.previous.addEventListener( 'click' , ()=>{this.previousPage()} , false );
        this.next.addEventListener( 'click' , ()=>{this.nextPage()} , false );
        this.btnBox.addEventListener( 'click' , e=>{this.handleClickBtn(e)} , false );
      }
      previousPage(){
        /* 上一页处理函数 */
        if( this.page < 2 ){
          return
        }
        if( this.index < 1 ){
          this.btnList.forEach( item => {
            item.innerHTML = Number(item.innerHTML) - 1;
          })
        };
        this.page--;
        this.index--;
        if( this.index < 1 ){
          this.index = 0;
        }
        let elm = this.btnList[this.index];
        this.handleClick( elm );
      }
      nextPage(){
        /* 下一页处理函数 */
        if(this.page == this.PageMax){
            alert('已经是最后一页了！')
            return
        }
        if( this.index >= this.btnList.length-1 ){
          this.btnList.forEach( item => {
            item.innerHTML = Number(item.innerHTML) + 1;
          })
        };
        this.page++;
        this.index++;
        if( this.index > this.btnList.length - 1 ){
          this.index = this.btnList.length -1;

        }
        let elm = this.btnList[this.index];
        this.handleClick( elm );
      }
      handleClickBtn(e){
        /* btn处理函数 */
        let target = e.target;
        if( target.nodeName !== 'A' ){
          return
        }
        let index = this.btnList.indexOf( target );
        let page = target.innerHTML;
        this.page = page;
        this.index = index;
        this.handleClick( target );
      }
      handleClick( elm ){
        this.ajax();
        /* 删除btn current样式*/
        this.btnList.forEach( item => {
          item.classList.remove( 'current' );
        });
        /* 为当前点击元素 添加current */
        elm.classList.add( 'current' );
      }
      // ajax(){
      //   console.log('ajax....')
      // }
      ajax(){
         $.ajax({
         type: "get",
         url:baseUrl+'/v1/goods/catalogs/'+this.catalog_id+'?launched=true&page='+this.page,
         success: function (result) {
          if (result.code==200){
            var list = ''
            const BASE_URL = result.base_url
            result.data.forEach(el => {
              list += '<div class="product" id="' + el.skuid +
                '"><a href='+"product_details.html?skuid="+el.skuid+'>'
              list += '<img src="' + BASE_URL+el.image + '" alt="' + el.name + '"></a>'
              list += '<div class="addRemoveProduct">'
              list += '<p>'
              list += '<span class="price">￥' + el.price + '</span>'
              list += '<a href='+"product_details.html?skuid="+el.skuid+' class="title" title='+el.name+'>'+el.name+'</a></p></div></div>'
            });
            $('.salc_content').html(list)
          }else {
              alert(result.error)
          }
        },

        error: function (data) {
          console.log(data)
        }
     })
      }
    }

    setTimeout(new btnList($('#btnBox')[0],$('#previous')[0],$('#next')[0]).init(),2000);




  </script>
    <script>
      count = window.localStorage.getItem('dashop_count')
      $('.my_cart_count').html(count)
      cart_count_1=count+'件'
      $('#cart_count_1').html(cart_count_1)
      var loginName = window.localStorage.dashop_user;
      if (loginName){
          $('#my_login').children().html(loginName).on('click',(e)=>{
              e.preventDefault()
              window.localStorage.removeItem('dashop_user');
              window.localStorage.removeItem('dashop_token');
              window.localStorage.removeItem('dashop_count');
              alert('退出登录')
              window.location.reload()
              $('#my_login').children().html('登录')
          })
      }
  </script>
</body>

</html>
